:root {
    --main-bg-color: lightseagreen;
    --main-text-color: white;
}

body {
    background-color : var(--main-bg-color);
    padding-top: 50px;
}

/* >>>>> Checker FLEXBOX !!! */
.container-ligne {
    border: solid 1px;
    margin: 50px 0px;
    padding-left: 100px;
    display: flex;
}

.container-liens { 
    width: -webkit-calc(100% - 100px);
    width:    -moz-calc(100% - 100px);
    width:         calc(100% - 100px);
    display: flex;
    justify-content: space-between;

}

.container-lien {    
    flex: 4 1 auto;
    border: solid 1px;
    border-color: var(--main-text-color);
    border-radius: 5px;
    padding: 10px;
    display: inline-flex;
    min-width: 200px;
}

.lien {
    padding: 10px;
    padding-left: 20px;
    font-family: sans-serif;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    color: var(--main-text-color);
}


.btn-img { 
    margin-top: auto;
    margin-bottom: auto;
    vertical-align:middle;
    display: inline-flex;
    border-radius: 3px;
    border: 0px;
    padding: 1px; 
    background-color: transparent;
}

.btn-img:hover {
    background-color: rgb(54, 166, 185);
}

.btn-img:focus {
    background-color: rgb(35, 109, 122);
}

.btn-img:active {
    background-color: rgb(23, 71, 80);
}

.add-ligne {
    margin-left: 50%;
}

.add-lien {
    margin-right: 10px;
}

.container-ctrl {
    flex: 1 1 auto;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    vertical-align: middle;
}


/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 