
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Nom</label>
            <input type="text" name="nom-lien" value="{{ lien.nom }}">
        </div>
        <div class="form-group">
            <label>URL</label>
            <input type="text" name="url-lien" value="{{ lien.url }}">
        </div>
        <input type="button" value="Mettre à jour"
        hx-post="/lien/{{ lien.pk }}" 
        hx-target="#lien-{{ lien.pk }}" 
        hx-swap="outerHTML"
        _="on click trigger closeModal"></input>
        <input type="button" value="Annuler" _="on click trigger closeModal"></input>
                
    </form>
	</div>
</div>