
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <label>Nom</label>
                </th>
                <th>                
                    <input type="text" name="nom-lien" value="{{ lien.nom }}">
                </th>
            </tr>
            <tr>
                <th>
                    <label>URL</label>
                </th>
                <th>
                    <input type="text" name="url-lien" value="{{ lien.url }}">
                </th>
            </tr>
        </table>
        <div class="container-btn">
            <input type="button" value="Mettre à jour"
            hx-post="/lien/{{ lien.pk }}" 
            hx-target="#lien-{{ lien.pk }}" 
            hx-swap="outerHTML"
            class="btn"
            _="on click trigger closeModal"></input>
            <input type="button" value="Annuler" class="btn" _="on click trigger closeModal"></input>
        </div>                
    </form>
	</div>
</div>