{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Start Page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'startpage/style.css' %}"/>
    <!-- bibliothèque htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
</head>
<body>
    
    <div>

        <div id="lignes">
            {% for ligne in lignes %}
                {% include 'startpage/ligne.html' with ligne=ligne %}
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            <button hx-post="{% url 'add-ligne' %}"
                    hx-target="#lignes"
                    hx-swap="beforeend"
                    type="submit"
                    class="btn-img add-ligne"><img src="{% static 'startpage/img/plus-24.png' %}">
            </button>
        </form>

    </div>
    
</body>
</html>